body {
  margin-top: 90px;
}

.navbar {
  background-color: #2c3e50;
  padding: 20px 0;
  
}


.navbar-brand {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.navbar-nav {
  gap: 30px;
}

.nav-link {
  font-weight: bold;
  padding: 10px 18px !important;
  border-radius: 6px;
  color: white !important;
}

.nav-link.active {
  background-color: #1abc9c;
}


.contact-btn {
  background-color: #1abc9c;
  padding: 10px 18px;
  border-radius: 6px;
}



.home {
  height: 90vh;
  background-color: #1abc9c;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items:center;
}

.home-avatar {
  width: 250px;
  border-radius: 50%;
  margin-bottom: 50px;


}

.home-content h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.star-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.star-divider .line {
  width: 90px;
  height: 4px;
  background-color: white;
}

.star-divider .star {
  margin: 0 15px;
  font-size: 28px;
}

.home-content p {
  font-size: 1.2rem;
}

.about-section {
  min-height: 100vh;
  background-color: #1abc9c;
  display: flex;
  align-items: center;
}

.about-title {
  font-size: 48px;
  font-weight: 700;
}

.about-section p {
  font-size: 16px;
  line-height: 1.8;
}

.portfolio {
  padding: 80px 0;
  background-color: #fff;
}

.portfolio-content {
  width: 85%;
  margin: auto;
  text-align: center;
}

.portfolio h2 {
  font-size: 40px;
  font-weight: 700;
  color: #2c3e50;
}


.star-divider .star {
  color: #2c3e50;
}

.star-divider .line{
   background-color: #2c3e50;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.portfolio-item {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}

.portfolio-item img {
  width: 100%;
  height: 100%;
  display: block;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(26, 188, 156, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
  font-weight: 800;
  color: white;
  line-height: 1;
  border-radius: 12px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.portfolio-item:hover .overlay {
  opacity: 1;
}

@media (max-width: 992px) {
  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .portfolio-grid {
    grid-template-columns: 1fr;
  }
}

.contact {
  padding: 80px 0;
}

.container {
  width: 60%;
  margin: auto;
  text-align: center;
}

.contact h2 {
  font-size: 40px;
  font-weight: 700;
  color: #2c3e50;
}

.contact .divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 50px;
}

.contact .divider span {
  width: 80px;
  height: 4px;
  background-color: #2c3e50;
}

.contact .divider .star {
  font-style: normal;
  margin: 0 15px;
  font-size: 30px;
  color: #2c3e50;
}

.contact-form {
  text-align: left;
}

.contact-form input {
  width: 100%;
  padding: 15px 0;
  margin-bottom: 25px;
  border: none;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  outline: none;
}

.contact-form button {
  background-color: #1abc9c;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.main-footer {
  background-color: #2c3e50;
  padding: 80px 0;
  color: white;
}

.main-footer h4 {
  font-size: 25px;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.footer-icons span {
  width: 45px;
  height: 45px;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  cursor: pointer;
}

.footer-icons span:hover {
  background-color: white;
  color: #2c3e50;
}

.footer-bottom {
  background-color: #1a252f;
  color: white;
  text-align: center;
  padding: 18px 0;
  font-size: 14px;
}
